.practice{
    max-width: 1140px;
    margin-top: 179px;
    margin-inline: auto;
}

.practice p{
    font-weight: 600;
    font-size: 54px;
    line-height: 143.02%;
    color: white;
    text-align: center;
}

.grid{
    margin-top: 65px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.grid div{
    position: relative;
    overflow: hidden;
    border-radius: 14px;
    max-height: 342px;
}

.grid div span{
    position: absolute;
    width: 262px;
    left: 50%;
    bottom: 32px;
    transform: translateX(-50%);
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: white;
    z-index: 2;
}

.grid div img{
    width: 100%;
    transform-origin: center;
    transition: 2s ease;
}

.grid div:hover img{
    transform: scale(1.2);
}

@media screen and (max-width: 820px){
    .grid div{
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    .practice p{
        font-size: 39px;
    }

    .grid div span{
        font-size: 1.3rem;
        bottom: 22px;
    }
}