@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
  min-height: 100vh;
  position: relative;
}

::-webkit-scrollbar{
  width: .9rem;
}

::-webkit-scrollbar-thumb{
  background: var(--btn-color);
}

a{
  color: unset;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

#root{
  min-height: 100vh;
}

p, span, img{
  user-select: none!important;
}

:root{
  --btn-color: #E3B748;
  --bg-header: #111111;
  --bg-footer: #171717;
  --bg-article: #1E1E1E;
  --bg-box-hover: #2E2E2E;
}